@media(max-width: 1400px) {
    .services {
        &__offer {
            max-width: 500px;
        }
        &__btn {
            margin-bottom: 70px;
        }
    }    
}
@media(max-width: 1200px) {
    .services {
        &__title {
            margin-bottom: 30px;
        }
        &__offer {
            max-width: 400px;
        }
        &__btn {
            margin-bottom: 70px;
        }
    }    
}
@media(max-width: 993px) {
    .services {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__offer {
            max-width: 100%;
            order: 2;
        }
        &__img {
            order: 1;
            margin-bottom: 20px;
        }
        &__box {
            padding: 50px 0;
        }
    }    
}
@media(max-width: 769px) {
    .services {
       &__price {
            &-items {
                align-items: center;
                justify-content: center;
            }
       } 
    }
}
@media(max-width: 556px) {
    .services {
        &__title {
            font-size: 20px;
            line-height: 22px;
        }
        &__btn {
            width: 100%;
            margin-bottom: 10px;
        }
        &__box {
            padding: 20px 0;
        }
        &__price {
            padding: 20px 0;
            &-title {
                font-size: 18px;
                line-height: 20px;
                text-align: left;
            }
            &-subtitle {
                font-size: 16px;
                line-height: 18px;
                text-align: left;
            }
            &-information {
                font-size: 14px;
                line-height: 16px;
            }
            &-item {
                &--title {
                    font-size: 16px;
                    line-height: 18px;
                }
                &--descr {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }  
    .terms {
        &__title {
            font-size: 18px;
            line-height: 20px;
        }
        &__warning {
            font-size: 16px;
            line-height: 18px;
        }
        &__items {
            align-items: center;
            justify-content: center;
        }
        &__work {
            &-title {
                font-size: 16px;
                line-height: 18px;
            }
        }
        &__descr {
            font-size: 14px;
            line-height: 16px;
        }
    } 
}