@media(max-width: 1536px) {
    .container {
        max-width: 1400px;
    }
    .information {
        padding: 60px 0;
        &__container {
            max-width: 1450px;
        }
        &__title {
            font-size: 50px;
            line-height: 55px;
        }
        &__box {
            &-img {
                width: 50px;
                height: 50px;
            }
            &-items {
                flex-direction: column;
                align-items: flex-start
            }
        }      
    }
    .priveleges {
        &__item {
            &-grid {
                grid-template-columns: repeat(3,350px);
            }
        }
    }
}

@media(max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
    .header {
        &__logo {
            width: 250px;
            gap: 8px;
            font-size: 16px;
            &-img {
                width: 80px;
                height: 80px;
            }
        }
        &__connection {
            &-item {
                font-size: 16px;
            }
        }
        &__lists {
            font-size: 12px;
            line-height: 18px;
            &-item {
                width: 110px;
                height: 40px;
                font-size: 12px;
                line-height: 10px;
            }
        }
    }
    .bank {
        &__items {
            max-width: 450px;
            &-img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .priveleges {
        &__title {
            max-width: 40%;
        }
        &__item {
            &-grid {
                grid-template-columns: repeat(3,300px);
            }
        }
    }
    .footer {
        &__logo {
            max-width: 220px;
            &-img {
                width: 70px;
                height: 70px;
            }
            &-name {
                font-size: 14px;
                line-height: 16px;
            }
        }
        &__connection {
            &-item {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 1200px) {
    .container {
        max-width: 990px;
    }
    .header {
        &__logo {
            width: 250px;
            gap: 8px;
            font-size: 12px;
            line-height: 14px;
            &-img {
                width: 60px;
                height: 60px;
            }
        }
        &__connection {
            &-item {
                font-size: 14px;
            }
        }
        &__lists {
            font-size: 12px;
            line-height: 16px;
            &-item {
                width: 120px;
                height: 40px;

            }
        }
    }
    .information {
        padding: 40px 0;
        &__container {
            max-width: 1000px;
        }
        &__title {
            font-size: 40px;
            line-height: 45px;
        }
        &__box {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            &-items {
                flex-direction: row;
            }
            &-img {
                width: 40px;
                height: 40px;
            }
            &-info {
                font-size: 16px;
            }
        }
    }
    .bank {
        &__items {
            max-width: 350px;
            &-title {
                font-size: 30px;
                margin-bottom: 10px;
            }
            &-subtitle {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &-img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .priveleges {
        &__title {
            max-width: 60%;
        }
        &__item {
            &-grid {
                grid-template-columns: repeat(3,220px);
            }
            &-img {
                width: 100px;
                height: 100px;
            }
            &-descr {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .clients {
        &__title {
            max-width: 50%;
        }
        &__call {
            &-img {
                width: 200px;
                height: 200px;
                margin-bottom: 10px;
            }
            &-info {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }
        &__btn {
            width: 200px;
            font-size: 15px;
        }
        &__map {
            &-title {
                font-size: 30px;
                line-height: 32px;
            }
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media(max-width: 990px) {
    .container {
        max-width: 769px;
    }
    .header {
        &__logo {
            width: 65px;
            &-img {
                width: 60px;
                height: 60px;
            }
            &-info {
                display: none;
            }
        }
        &__connection {
            display: none;
        }
        .hamburger {
            display: flex;
            &__item {
                background-color: #000000;
            }            
        }
        &__navigation   {
            position: absolute;
            top: 0;
            right: -300px;
            width: 300px;
            background-color: $textColorLogo;
            padding: 75px 20px;
            visibility: hidden;
            transition: transform .5s, visibility .5s;
        }
        &__lists {
            display: block;
            text-align: left;
            font-size: 20px;
            background-color: $textColorLogo;
            width: 70%;
            &-item {
                width: 100%;
                justify-content: flex-start;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 40px;
            }
        }
        
    }
    .bank {
        &__wrapper {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;           
        }
        &__items {
            max-width: 100%;
            width: 100%;
            &-title {
                font-size: 30px;
                margin-bottom: 10px;
            }
            &-subtitle {
                font-size: 20px;
                margin-bottom: 10px;
            }
            &-img {
                width: 130px;
                height: 130px;
            }
        }
    }
    .priveleges {
        padding: 30px 0;
        &__title {
            max-width: 80%;
        }
        &__item {
            &-grid {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
            &-img {
                width: 100px;
                height: 100px;
            }
            &-descr {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

    .clients {
        padding: 20px;
        &__title {
            max-width: 100%;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__call {
            max-width: 100%;
            &-img {
                width: 150px;
                height: 150px;
                margin-bottom: 10px;
            }
            &-info {
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 10px;
            }
        }
        &__btn {
            width: 150px;
            font-size: 12px;
        }
        &__map {
            max-width: 100%;
            &-title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .footer {
        &__wrapper {
            margin-bottom: 100px;
        }
        &__logo {
            max-width: 220px;
            &-img {
                width: 70px;
                height: 70px;
            }
            &-name {
                font-size: 14px;
                line-height: 16px;
            }
        }
        &__connection {
            align-items: start;
            flex-direction: column;
            box-shadow: none;
            &-item {
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 769px) {
    .container {
        max-width: 556px;
    }
    .header {
        &__logo {
            width: 45px;
            height: 45px;
            &-img {
                width: 40px;
                height: 40px;
            }
        }      
    }
    .information {
        padding: 20px 0;
        &__background {
            min-height: 500px;
            border-radius: 10px;
            background-image: url('../img/bg4.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
        }
        &__title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 30px;
        }
        &__btn {
            width: 100%;
            height: 60px;
            font-size: 14px;
            padding: 10px;
            margin-bottom: 70px;
        }
        &__box {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            &-items {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
            &-img {
                width: 30px;
                height: 30px;
            }
            &-info {
                font-size: 18px;
                color: #ffffff;
                text-shadow: 0 0 25px #000;
            }
        }
    }
    .modal {
        &__box {
            max-width: 300px;
        }
        &__input {
            width: 250px;

        }
        &__btn {
            width: 250px;
        }
    }
    .bank {
        &__items {
            &-title {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 5px;
            }
            &-subtitle {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 8px;
            }
            &-img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .tabs {
        padding: 20px 0;
        &__wrapper {
            margin-bottom: 15px;
        }
        &__tab {
            width: 150px;
            height: 40px;
        }
        &__title {
            font-size: 14px;
        }
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
            gap: 15px;
            justify-content: center;
            &-name {
                font-size: 16px;
            }
        }
    }
    .priveleges {
        padding: 30px 0;
        &__title {
            max-width: 100%;
        }
        &__box {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-content: center;
        }
        &__item {
            &-title {
                font-size: 18px;
            }
            &-grid {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
            &-img {
                width: 80px;
                height: 80px;
            }
            &-descr {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .clients {
        padding: 20px;
        &__title {
            max-width: 100%;
            font-size: 30px;
        }
        &__call {
            max-width: 100%;
            &-info {
                text-align: left;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
            }
        }
        &__btn {
            width: 150px;
            font-size: 12px;
        }
        &__map {
            max-width: 100%;
            &-title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}

@media(max-width: 556px) {
    .container {
        max-width: 320px;
    }
    .header {
        &__logo {
            width: 40px;
            &-img {
                width: 35px;
                height: 35px;
            }
        }
        &__lists {
            display: block;
            text-align: left;
            font-size: 14px;
           
        }
        
    }
    .clients {        
       &__map {
            padding: 10px;
       }
    }
    .footer {
        &__logo {
            max-width: 220px;
            &-img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media(max-width: 320px) {
    .container {
        padding: 0 10px;
    }
    .header {
        &__logo {
            width: 35px;
            &-img {
                width: 30px;
                height: 30px;
            }
        }
        &__lists {
            display: block;
            text-align: left;
            font-size: 10px;
           
        }
        
    }
}