.clients {
    padding: 100px 0;
    &__title {
        max-width: 30%;
        margin: 0 auto;
        margin-bottom: 60px;
        display: none;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }
    &__call {
        max-width: 50%;
        min-height: auto;
        padding: 20px 40px;
        box-shadow: 0 0 10px $textColor;
        &-img {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-info {
            font-family: "Open Sans", system-ui;
            font-weight: 400;
            font-size: 23px;
            line-height: 26px;
            letter-spacing: 0.2px;
            color: $textColor;
            text-align: center;
            margin-bottom: 50px;
        }       
    }
    &__btn {
        margin: 0 auto;
    }
    &__map {
        padding: 20px 40px;
        box-shadow: 0 0 10px $textColor;
        max-width: 50%;
        min-height: auto;
        &-title {
            font-size: 40px;
            margin-bottom: 30px;
        }       
    }
}