.construction {
    padding: 60px 0;
    &__table {
        padding: 10px 20px;
        width: 100%;
        margin: 0 auto;
        &-item1,&-item2,&-item3 {
            border: 1px solid #000;
            padding: 10px 30px;
        }
    }
}