.family {
    padding: 60px 0;
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin-bottom: 30px;
        font-size: 20px;
    }
    &__list {
        list-style-type: disc;
        padding: 30px 50px;
        background-color: #c9c9c9;
    }
    &__item {
        margin-bottom: 20px;
    }
}